<!-- <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light" xmlns:th="http://www.w3.org/1999/xhtml">
    <a class="navbar-brand fw-bold text-primary ms-3" href="/">salam mitra</a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav pull-right">
                <a class="nav-link" th:href="@{/}">Sign up/Sign in</a>
        </ul>
    </div>
</nav> -->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>   
    
</head>
<body>
<div th:fragment="header">
<!-- PreLoader-->
<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>
<!--PreLoader Ends -->

<!-- header -->
<div class="top-header-area" id="sticker">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <div class="main-menu-wrap">
                    <!-- logo -->
                    <div class="site-logo">
                        <a href="/">
                            <h3 class="orange-text">SALAM MITRA</h3>
                        </a>
                    </div>
                    <!-- logo -->

                    <!-- menu start -->
                    <nav class="main-menu">
                        <ul>
                            <li th:if="${role == 'ROLE_ANONYMOUS' || role == 'mitra'}" 
                                th:class="${page == 'home' ? 'current-list-item' : ''}">
                                <a th:href="@{/}">
                                    Home
                                </a>
                            </li>
                            <li th:if="${role == 'admin_PROGRAM' || role == 'admin_FINANCE' || role == 'manajemen' || role == 'program_service'}" 
                                th:class="${page == 'dashboard' ? 'current-list-item' : ''}">
                                <a th:href="@{/}">
                                    Dashboard
                                </a>
                            </li>
                            <li th:if="${role == 'ROLE_ANONYMOUS' || role == 'mitra' || role == 'admin_PROGRAM' || role == 'manajemen' || role == 'program_service'}"
                                th:class="${page == 'program' ? 'current-list-item' : ''}">
                                <a th:href="@{/program}">
                                    Program
                                </a>
                            </li>
                            <li th:if="${role == 'mitra'}"
                                th:class="${page == 'pengajuan' ? 'current-list-item' : ''}">
                                <a th:href="@{/pengajuan}">
                                    Ajuan Saya
                                </a>
                            </li>
                            <li th:if="${role == 'admin_PROGRAM' || role == 'manajemen' || role == 'program_service'}"
                                th:class="${page == 'pengajuan' ? 'current-list-item' : ''}">
                                <a th:href="@{/pengajuan}">
                                    Ajuan Kerja Sama
                                </a>
                            </li>
                            <li th:if="${role == 'manajemen' || role == 'program_service'}"
                                th:class="${page == 'pengguna' ? 'current-list-item' : ''}">
                                <a th:href="@{/pengguna}">
                                    Daftar Pengguna
                                </a>
                            </li>
                            <li th:if="${role == 'admin_FINANCE' || role == 'manajemen' || role == 'program_service'}"
                                th:class="${page == 'pencairan' ? 'current-list-item' : ''}">
                                <a th:href="@{/pencairan}">
                                    Pencairan
                                </a>
                            </li>
                            <li th:if="${role == 'mitra' || role == 'admin_PROGRAM' || role == 'admin_FINANCE' || role == 'manajemen' || role == 'program_service'}"
                                th:class="${page == 'notifikasi' ? 'current-list-item' : ''}">
                                <a th:href="@{/notifikasi}">
                                    Notifikasi
                                </a>
                            </li>
                            <li>
                                <div class="header-icons">
                                    <div class="header-icons pull-right">
                                        <li th:if="${currentPage == null}">
                                            <div th:if="${role == 'ROLE_ANONYMOUS'}">
                                                <span><a th:href="@{/login}" class="boxed-btn">Login</a></span>
                                            </div>
                                            <li th:if="${role != 'ROLE_ANONYMOUS'}">
                                                <div style="border-radius: 50%; overflow: hidden; width: 40px; height: 40px; background-color: #fff;">
                                                    <img src="assets/img/icon_profile.png" alt="Profile Picture">
                                                </div>
                                                <ul class="sub-menu" style="display: flex; flex-direction: column; align-items: center; padding: 10px; border: 1px solid #F28123;">
                                                    <li>
                                                        <a>Halo, <span th:text="${user.username}"></span></a>
                                                    </li>
                                                    <li style="margin-bottom: 10px;">
                                                        <a th:href="@{/ubah-sandi-{id}(id=${user.id})}">Ubah Sandi</a>
                                                    </li>
                                                    <li style="margin-bottom: 10px;">
                                                        <a th:href="@{/logout}" class="boxed-btn" style="color: #fff;"
                                                        onmouseover="this.style.color='#F28123'"
                                                        onmouseout="this.style.color='white'">Logout</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </li>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <!-- menu end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end header -->
</div>

</body>
</html>