<!DOCTYPE html>
<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="UTF-8" />
    <object
      th:include="~{fragments/common :: fragment}"
      th:remove="tag"
    ></object>
    <title>Daftar pengajuan | Salam Mitra</title>
    <style>
      .card.table-responsive {
        text-align: center;
      }
      .table:not(.table-dark) th {
        color: white;
      }
    </style>
  </head>

  <body>
    <div class="layout-wrapper layout-content-navbar layout-without-menu">
      <div class="layout-container">
        <div class="layout-page">
          <nav th:replace="~{fragments/navbar :: navbar('pencairan')}"></nav>
          <div class="content-wrapper">
            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="display-3"><strong>Pencairan</strong></h4>

              <div class="card">
                <div class="card table-responsive text-nowrap">
                  <table
                    class="datatables-basic table table-bordered table-hover"
                    id="dataTable"
                  >
                    <thead>
                      <tr class="table-dark">
                        <th scope="col">#</th>
                        <th scope="col">ID Pengajuan</th>
                        <th scope="col">Tanggal Pengajuan</th>
                        <th scope="col">Nama Mitra</th>
                        <th scope="col">Nominal Kebutuhan Dana</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody th:if="${listPencairan.isEmpty()}">
                      <tr>
                        <td colspan="8">
                          Belum ada daftar pengajuan yang membutuhkan pencairan
                          dana.
                        </td>
                      </tr>
                    </tbody>
                    <tbody th:unless="${listPencairan.isEmpty()}">
                      <tr id="noResultRow" style="display: none">
                        <td colspan="6">
                          Pengajuan pencairan dana tidak ditemukan.
                        </td>
                      </tr>
                      <tr
                        th:each="pencairan, iterationStatus: ${listPencairan}"
                      >
                        <td th:text="${iterationStatus.count}"></td>
                        <td th:text="${pencairan.id}"></td>
                        <td
                          th:text="${#dates.format(pencairan.waktuDibuat, 'HH:mm:ss dd/MM/yyyy')}"
                        ></td>
                        <td th:text="${pencairan.namaMitra}"></td>
                        <td
                          th:text="'Rp ' + ${pencairan.nominalKebutuhanDana}"
                        ></td>
                        <th:block
                          th:if="${role == 'program_service' || role == 'manajemen'}"
                        >
                          <td>
                            <span
                              class="badge rounded-pill bg-label-danger me-1"
                              th:if="${pencairan.status == 'Menunggu Pencairan Dana oleh Program Service'}"
                              th:text="${pencairan.status}"
                            ></span>
                            <span
                              class="badge rounded-pill bg-label-warning me-1"
                              th:if="${pencairan.status == 'Menunggu Pencairan Dana oleh Admin Finance'}"
                              th:text="${pencairan.status}"
                            ></span>
                            <span
                              class="badge rounded-pill bg-label-success me-1"
                              th:unless="${pencairan.status == 'Menunggu Pencairan Dana oleh Program Service' || pencairan.status == 'Menunggu Pencairan Dana oleh Admin Finance'}"
                              >Sudah Dicairkan</span
                            >
                          </td>
                        </th:block>
                        <th:block th:if="${role == 'admin_FINANCE'}">
                          <td>
                            <span
                              class="badge rounded-pill bg-label-success me-1"
                              th:if="${pencairan.status != 'Menunggu Pencairan Dana oleh Admin Finance'}"
                              >Sudah Dicairkan</span
                            >
                            <span
                              class="badge rounded-pill bg-label-danger me-1"
                              th:unless="${pencairan.status != 'Menunggu Pencairan Dana oleh Admin Finance'}"
                              th:text="${pencairan.status}"
                            ></span>
                          </td>
                        </th:block>
                        <td>
                          <a
                            type="button"
                            class="boxed-btn"
                            style="width: 90px"
                            th:href="@{/pencairan-detail-{id}(id=${pencairan.id})}"
                            >Detail</a
                          >
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div id="toast-container" class="toast-bottom-right">
            <div
              id="successMessage"
              class="toast toast-success"
              aria-live="polite"
              style="display: block"
            >
              <div class="toast-body" th:text="${successMessage}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var successMessage = document.getElementById("successMessage");
        if (successMessage.textContent.trim().length > 0) {
          var toastContainer = document.getElementById("toast-container");
          toastContainer.style.display = "block";

          setTimeout(function () {
            toastContainer.style.display = "none";
          }, 3000);
        }
      });
    </script>
  </body>
</html>
