<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <object th:include="~{fragments/common :: fragment}" th:remove="tag"></object>
    <title>Daftar Pencairan</title>
    <link href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/datatables.css">

</head>

<body>
    <div th:replace="~{fragments/navbar :: header(page='pencairan')}"></div>
    <div class="container">
        <div class="container-fluid"
            style="padding-bottom: 5%; padding-top: 15%; display: flex; align-items: center; justify-content: center;">
            <div class="container" data-aos="fade-up">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-7">
                        <h3 class="text-center m-4">Daftar Pencairan</h3>
                        <div class="row">
                            <div class="col">
                                <div class="alert alert-success" role="alert" th:text="${successMessage}"
                                    th:if="${successMessage}"></div>
                            </div>
                        </div>
                        <br>
                        <div style="text-align: left; margin-bottom: 10px;">
                            <input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Cari pengajuan..." class="form-control">
                        </div>
                    </div>
                    <table class="table table-bordered" id="dataTable">
                        <thead class="bg-dark text-white text-center">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">ID Pengajuan</th>
                                <th scope="col">Tanggal Pengajuan</th>
                                <th scope="col">Nama Mitra</th>
                                <th scope="col">Nominal Kebutuhan Dana</th>
                                <th scope="col">Nomor Rekening</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-center" th:if="${listPencairan.isEmpty()}">
                            <tr>
                                <td colspan="8">Belum ada daftar pengajuan yang membutuhkan pencairan dana.</td>
                            </tr>
                        </tbody>
                        <tbody class="text-center" th:unless="${listPencairan.isEmpty()}">
                            <tr id="noResultRow" style="display: none;">
                                <td colspan="7">Pengajuan pencairan dana tidak ditemukan.</td>
                            </tr>
                            <tr th:each="pencairan, iterationStatus: ${listPencairan}">
                                <td class="text-center" th:text="${iterationStatus.count}"></td>
                                <td th:text="${pencairan.id}"></td>
                                <td th:text="${#dates.format(pencairan.waktuDibuat, 'HH:mm:ss dd/MM/yyyy')}"></td>
                                <td th:text="${pencairan.namaMitra}"></td>
                                <td th:text="'Rp ' + ${pencairan.nominalKebutuhanDana}"></td>
                                <td th:text="${pencairan.nomorRekening}"></td>
                                <th:block th:if="${role == 'program_service' || role == 'manajemen'}">
                                    <td>
                                        <span
                                            th:if="${pencairan.status == 'Menunggu Pencairan Dana oleh Program Service' || pencairan.status == 'Menunggu Pencairan Dana oleh Admin Finance'}"
                                            th:text="${pencairan.status}"></span>
                                        <span
                                            th:unless="${pencairan.status == 'Menunggu Pencairan Dana oleh Program Service' || pencairan.status == 'Menunggu Pencairan Dana oleh Admin Finance'}">Sudah
                                            Dicairkan</span>
                                    </td>
                                </th:block>
                                <th:block th:if="${role == 'admin_FINANCE'}">
                                    <td>
                                        <span
                                            th:if="${pencairan.status != 'Menunggu Pencairan Dana oleh Admin Finance'}">Sudah
                                            Dicairkan</span>
                                        <span th:unless="${pencairan.status != 'Menunggu Pencairan Dana oleh Admin Finance'}"
                                            th:text="${pencairan.status}"></span>
                                    </td>
                                </th:block>
                                <td>
                                    <a type="button" class="boxed-btn" style="width: 90px;"
                                        th:href="@{/pencairan-detail-{id}(id=${pencairan.id})}">Detail</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Sertakan referensi ke jQuery di sini -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Sertakan referensi ke DataTables JavaScript di sini -->
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <!-- Inisialisasi DataTables dengan konfigurasi tertentu -->
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "ordering": false, // Menonaktifkan sorting
                "searching": false // Menonaktifkan fitur pencarian
            });
        });
    </script>
    <script>
        // Menampilkan pesan sukses
        document.getElementById("successMessage").style.display = "block";
        // Mengatur waktu tampilan pesan sebelum menghilang
        setTimeout(function () {
            document.getElementById("successMessage").style.display = "none";
        }, 3000); // 3000 milliseconds = 3 seconds
    </script>
    <script>
        function searchTable() {
            // Mendapatkan nilai input pencarian
            var input, filter, table, tr, td, i, txtValue, noResultRow;
            input = document.getElementById("searchInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("dataTable");
            tr = table.getElementsByTagName("tr");
            noResultRow = document.getElementById("noResultRow"); // Baris pesan "pengajuan tidak ditemukan"
    
            // Loop melalui semua baris tabel, sembunyikan yang tidak sesuai dengan query pencarian
            var found = false; // Menandakan apakah ada hasil pencarian yang ditemukan
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td");
                for (var j = 0; j < td.length; j++) {
                    if (td[j]) {
                        txtValue = td[j].textContent || td[j].innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            found = true; // Ada hasil pencarian yang ditemukan
                            break;
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
    
            // Tampilkan atau sembunyikan pesan "pengajuan tidak ditemukan" tergantung pada hasil pencarian
            if (!found) {
                noResultRow.style.display = ""; // Tampilkan pesan jika tidak ada hasil pencarian
            } else {
                noResultRow.style.display = "none"; // Sembunyikan pesan jika ada hasil pencarian
            }
        }
    </script>

    <!-- jquery -->
    <script src="assets/js/jquery-1.11.3.min.js"></script>
    <!-- bootstrap -->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- count down -->
    <script src="assets/js/jquery.countdown.js"></script>
    <!-- isotope -->
    <script src="assets/js/jquery.isotope-3.0.6.min.js"></script>
    <!-- waypoints -->
    <script src="assets/js/waypoints.js"></script>
    <!-- owl carousel -->
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- magnific popup -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!-- mean menu -->
    <script src="assets/js/jquery.meanmenu.min.js"></script>
    <!-- sticker js -->
    <script src="assets/js/sticker.js"></script>
    <!-- main js -->
    <script src="assets/js/main.js"></script>

</body>

</html>