<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <object th:insert="~{fragments/common :: fragment}" th:remove="tag"></object>
    <title>Detail Pencairan</title>
    <style>
        .btn {
            padding: 0.375rem 0.75rem;
            font-size: 0.875rem;
        }
        .card {
            width: 1000px;
            padding: 5px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            height: fit-content;
            margin-left: auto;
            margin-right: auto;
        }

        .text-center {
            text-align: center;
        }
    </style>
</head>

<body>
    <div th:replace="~{fragments/navbar :: header}"></div>
    <div class="container">
        <div class="container-fluid" style="padding-bottom: 5%; padding-top: 15%; display: flex; align-items: center; justify-content: center;">
            <div class="container" data-aos="fade-up">
                <div class="row d-flex justify-content-center">
                    
                    <h2 th:text="'Pencairan Pengajuan ' + ${pengajuan.id}"></h2>

                    <!-- Informasi Pengajuan -->
                    <div class="card">
                        <div class="card-body">
                        
                            <h4>Status Pencairan :
                                <th:block th:if="${role == 'program_service' || role == 'manajemen'}">
                                    <span th:if="${pengajuan.status == 'Menunggu Pencairan Dana oleh Program Service' || pengajuan.status == 'Menunggu Pencairan Dana oleh Admin Finance'}" class="text-danger" th:text="${pengajuan.status}"></span>
                                    <span th:unless="${pengajuan.status == 'Menunggu Pencairan Dana oleh Program Service' || pengajuan.status == 'Menunggu Pencairan Dana oleh Admin Finance'}" class="text-success">Sudah Dicairkan</span>
                                </th:block>
                                <th:block th:if="${role == 'admin_FINANCE'}">
                                    <span th:if="${pengajuan.status != 'Menunggu Pencairan Dana oleh Admin Finance'}" class="text-success">Sudah Dicairkan</span>
                                    <span th:unless="${pengajuan.status != 'Menunggu Pencairan Dana oleh Admin Finance'}" class="text-danger" th:text="${pengajuan.status}"></span>
                                </th:block> 
                            </h4>       
                            
                            <hr>
                            
                            <table class="table table-borderless">
                                <tr class="no-border">
                                    <td>ID Pengajuan</td>
                                    <td><span th:text="': ' + ${pengajuan.id}"></span></td>
                                </tr>
                                <tr class="no-border">
                                    <td>Waktu Dibuat</td>
                                    <td><span th:text="': ' + ${#dates.format(pengajuan.waktuDibuat, 'HH:mm:ss dd/MM/yyyy')}"></span></td>
                                </tr>
                                <tr class="no-border">
                                    <td>Nama Mitra</td>
                                    <td><span th:text="': ' + ${pengajuan.namaMitra}"></span></td>
                                </tr>
                                <tr class="no-border">
                                    <td>Nama Program</td>
                                    <td><span th:text="': ' + ${pengajuan.namaProgram}"></span></td>
                                </tr>
                                <tr class="no-border">
                                    <td>Nama Pemilik Rekening</td>
                                    <td th:text="': ' + ${pengajuan.namaPemilikRekening}"></td>
                                </tr>
                                <tr class="no-border">
                                    <td>Bank & Nomor Rekening</td>
                                    <td><span th:text="': ' + ${pengajuan.bank} + ' - ' + ${pengajuan.nomorRekening}"></span></td>                                    
                                </tr>
                                <tr class="no-border">
                                    <td>Nominal Kebutuhan Dana</td>
                                    <td th:text="': Rp ' + ${pengajuan.nominalKebutuhanDana}"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- end -->
                    
                    <!-- Informasi Pencairan ke Rekening Salam Setara -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="heading">Informasi Pencairan ke Rekening Salam Setara</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-borderless">
                                <tr class="no-border">
                                    <td>Source of Fund</td>
                                    <td><span th:text="': ' + ${pengajuan.pencairan.sourceOfFound}"></span></td>
                                </tr>
                                <tr class="no-border">
                                    <td>Channeling</td>
                                    <td><span th:text="': ' + ${pengajuan.pencairan.channeling}"></span></td>
                                </tr>
                                <tr class="no-border">
                                    <td>Jenis Dana</td>
                                    <td><span th:text="': ' + ${pengajuan.pencairan.jenisDana}"></span></td>
                                </tr>
                                <tr class="no-border">
                                    <td>Link Pencairan</td>
                                    <td><a th:href="${pengajuan.pencairan.linkPencairan}" target="_blank" th:text="': ' +${pengajuan.pencairan.linkPencairan}"></a></td>
                                </tr>
                                <tr class="no-border">
                                    <td>Tanggal Pencairan</td>
                                    <td><span th:text="': ' + ${#dates.format(pengajuan.pencairan.tanggalPencairanSalamSetara, 'HH:mm:ss dd/MM/yyyy')}"></span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- end -->

                    <!-- Informasi Pencairan ke Rekening Mitra -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="heading">Informasi Pencairan ke Rekening Mitra</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-borderless">
                                <th:block th:if="${pengajuan.status == 'Menunggu Pencairan Dana oleh Admin Finance'}">
                                    <span>Dana belum dicairkan ke rekening mitra oleh Admin Finance.</span>
                                </th:block>
                                <th:block th:unless="${pengajuan.status == 'Menunggu Pencairan Dana oleh Admin Finance'}">
                                    <tr class="no-border">
                                        <td>Tanggal Pencairan</td>
                                        <td><span th:text="': ' + ${#dates.format(pengajuan.pencairan.tanggalPencairanMitra, 'HH:mm:ss dd/MM/yyyy')}"></span></td>
                                    </tr>
                                    <tr class="no-border">
                                        <td>Bukti Pencairan</td>
                                        <td><img th:src="'data:image/jpeg;base64,' + ${buktiPencairanMitra}" style="max-width: 200px; height: auto;" alt="Bukti Pencairan ke Rekening Mitra" /></td>
                                    </tr>
                                </th:block>
                            </table>
                        </div>
                    </div>
                    <!-- end -->
                </div>
            </div>
        </div>
    </div>

<!-- jquery -->
<script src="assets/js/jquery-1.11.3.min.js"></script>
<!-- bootstrap -->
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<!-- count down -->
<script src="assets/js/jquery.countdown.js"></script>
<!-- isotope -->
<script src="assets/js/jquery.isotope-3.0.6.min.js"></script>
<!-- waypoints -->
<script src="assets/js/waypoints.js"></script>
<!-- owl carousel -->
<script src="assets/js/owl.carousel.min.js"></script>
<!-- magnific popup -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<!-- mean menu -->
<script src="assets/js/jquery.meanmenu.min.js"></script>
<!-- sticker js -->
<script src="assets/js/sticker.js"></script>
<!-- main js -->
<script src="assets/js/main.js"></script>
</body>
</html>