<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
	<head>
		<object th:insert="~{fragments/common :: fragment}" th:remove="tag"></object>
        <style>
            .top-header-area {
                background-color: #051922;
            }
    
            .top-header-area a {
                color: white;
            }
        </style>
	</head>
<body>
    <div th:replace="~{fragments/navbar :: header}"></div>
    
	<div class="container">
		<div class="container-fluid" style="padding-bottom: 5%; padding-top: 15%; display: flex; align-items: center; justify-content: center;">
			<div class="container" data-aos="fade-up">
				<div class="row d-flex justify-content-center">
                    <div class="col-md-7">
					    <div class="new_card p-3 py-5">
                            <div class="d-flex justify-content-center mb-4">
                                <h4 class="text-center">Ubah Kata Sandi</h4>
                            </div>
                            <form th:action="@{/ubah-sandi}" method="POST" onsubmit="return validateForm()">
                            
                                <input type="hidden" name="userId" th:value="${pengguna.id}" />

                                <div class="row mt-3 d-flex justify-content-center">
                                    <div class="col-md-15">
                                        <label class="labels">Kata Sandi Lama</label>
                                        <input required class="form-control" type="password" id="password-lama" name="passwordLama"/>
                                    </div>
                                </div>
                                <div class="row mt-3 d-flex justify-content-center">
                                    <div class="col-md-15">
                                        <label class="labels">Kata Sandi Baru</label>
                                        <input required class="form-control" type="password" id="new-password" name="newPassword"/>
                                    </div>
                                    <div id="passwordError" class="invalid-feedback">
                                        Password harus terdiri dari 8-20 karakter, mengandung huruf besar dan kecil, mengandung angka, dan tidak boleh mengandung spasi, karakter khusus, atau emoji.
                                    </div>
                                </div>
                                <div class="row mt-3 d-flex justify-content-center">
                                    <div class="col-md-15">
                                        <label class="labels">Konfirmasi Kata Sandi Baru</label>
                                        <input required class="form-control" type="password" id="confirm-password" name="confirmPassword"/>
                                    </div>
                                    <div id="confirmPasswordError" class="invalid-feedback">
                                        Konfirmasi kata sandi baru harus sesuai dengan kata sandi baru.
                                    </div>
                                </div>

                                <!-- Kata sandi lama <br>
                                <input id="password-lama" name="passwordLama" class="form-control" type="password" required/>

                                Kata sandi baru <br>
                                <input id="new-password" name="newPassword" class="form-control" type="password" required/>
                                <div id="passwordError" class="invalid-feedback">
                                    Password harus terdiri dari 8-20 karakter, mengandung huruf besar dan kecil, mengandung angka, dan tidak boleh mengandung spasi, karakter khusus, atau emoji.
                                </div>

                                Konfirmasi kata sandi baru <br>
                                <input id="confirm-password" name="confirmPassword" class="form-control" type="password" required/>
                                <div id="confirmPasswordError" class="invalid-feedback">
                                    Konfirmasi kata sandi baru harus sesuai dengan kata sandi baru.
                                </div> -->
                
                                <div class="mt-5 text-center">
                                    <button onclick="window.location.href='/'" class="btn" style="background-color: #dc3545; width: 110px;">Batal</button>
                                    <button class="btn" type="submit" style="width: 110px;">Simpan</button>
                                </div>
            
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        const passwordInput = document.getElementById("new-password");
        const confirmPasswordInput = document.getElementById("confirm-password");
        const passwordError = document.getElementById("passwordError");
        const confirmPasswordError = document.getElementById("confirmPasswordError");

        passwordInput.addEventListener("input", function () {
            const password = passwordInput.value;
            const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,20}$/;

            if (passwordRegex.test(password)) {
                passwordError.style.display = "none";
            } else {
                passwordError.style.display = "block";
            }
        });

        function validateForm() {
            const newPassword = passwordInput.value;
            const confirmNewPassword = confirmPasswordInput.value;

            if (newPassword !== confirmNewPassword) {
                confirmPasswordError.style.display = "block";
                return false;
            } else {
                confirmPasswordError.style.display = "none";
                return true;
            }
        }
    </script>

<!-- jquery -->
<script src="assets/js/jquery-1.11.3.min.js"></script>
<!-- bootstrap -->
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<!-- count down -->
<script src="assets/js/jquery.countdown.js"></script>
<!-- isotope -->
<script src="assets/js/jquery.isotope-3.0.6.min.js"></script>
<!-- waypoints -->
<script src="assets/js/waypoints.js"></script>
<!-- owl carousel -->
<script src="assets/js/owl.carousel.min.js"></script>
<!-- magnific popup -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<!-- mean menu -->
<script src="assets/js/jquery.meanmenu.min.js"></script>
<!-- sticker js -->
<script src="assets/js/sticker.js"></script>
<!-- main js -->
<script src="assets/js/main.js"></script>

</body>
</html>