<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <object th:insert="~{fragments/common :: fragment}" th:remove="tag"></object>
    <title>Tambah Admin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
</head>
<body>
    <div th:replace="~{fragments/navbar :: header}"></div>
	<div class="container">
		<div class="container-fluid" style="padding-bottom: 5%; padding-top: 15%; display: flex; align-items: center; justify-content: center;">
			<div class="container" data-aos="fade-up">
				<div class="row d-flex justify-content-center">
                    <h2 class="text-center m-4">Tambah Admin</h2>
                    <div class="container">
                        <form class="row g-3" th:action="@{/pengguna/tambah-admin}" th:object="${adminDTO}" method="POST">
                            <div class="col-md-6">
                              <label for="validationDefault01" class="form-label">Username</label>
                              <input type="text" class="form-control" th:field="*{username}" required/>
                            </div>
                            <div class="col-md-6">
                              <label for="validationDefault01" class="form-label">Email</label>
                              <input type="text" class="form-control" th:field="*{email}" required/>
                            </div>
                            <div class="col-md-6">
                              <label for="validationDefault01" class="form-label">Password</label>
                              <div class="input-group">
                                <input type="password" class="form-control" name="password" th:field="*{password}" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
                                title="Password harus terdiri dari 8-20 karakter, mengandung huruf dan angka, dan tidak boleh mengandung spasi, karakter khusus, atau emoji." required/>
                                <span class="input-group-text" id="inputGroupPrepend2"><i class="bi bi-eye-slash" id="togglePassword"></i></span>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <label for="validationDefault01" class="form-label">Name Lengkap</label>
                              <input type="text" class="form-control" th:field="*{fullName}" required/>
                            </div>
                            <div class="col-md-6">
                              <label for="validationDefault01" class="form-label">Alamat</label>
                              <input type="text" class="form-control" th:field="*{address}" required/>
                            </div>
                            <div class="col-md-6">
                              <label for="validationDefault04" class="form-label">Jenis Kelamin</label>
                              <br>
                                <select class="form-control form-select" style="width: 100%" th:field="*{gender}" required>
                                    <option value="" disabled selected>Pilih...</option>
                                    <option value="Laki-Laki">Pria</option>
                                    <option value="Perempuan">Wanita</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                              <label for="validationDefault02" class="form-label">Kontak</label>
                              <input type="number" class="form-control" style="width: 100%" th:field="*{contact}" oninput="validatePhoneNumber(this)" required/>
                            </div>
                            <div class="col-md-6">
                              <label for="validationDefault04" class="form-label">Admin Role</label>
                              <br>
                                <select class="form-control form-select" style="width: 100%" th:field="*{adminRole}" required>
                                    <option value="" disabled selected>Pilih...</option>
                                    <option value="PROGRAM">Program</option>
                                    <option value="FINANCE">Finance</option>
                                </select>
                            </div>  
                            <div class="text-center m-4">
                              <a class="btn btn-danger " style="background-color: #e74454" href="/pengguna">Batal</a>
                              <button class="btn btn-primary" style="background-color: #6793F6; color: #fff" type="submit">Simpan</button>                              
                            </div>
                          </form>
                    </div>
                </div>
                
<!-- Sertakan referensi ke jQuery di sini -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- Sertakan referensi ke DataTables JavaScript di sini -->
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>

<script>
    const togglePassword = document.querySelector("#togglePassword");
    const password = document.querySelector("#password");

    togglePassword.addEventListener("click", function () {
        // toggle the type attribute
        const type = password.getAttribute("type") === "password" ? "text" : "password";
        password.setAttribute("type", type);
        
        // toggle the icon
        this.classList.toggle("bi-eye");
    });
</script>
<!-- Inisialisasi DataTables dengan konfigurasi tertentu -->
<script>
    $(document).ready(function() {
        $('#dataTable').DataTable({
            "ordering": false, // Menonaktifkan sorting
            "searching": false // Menonaktifkan fitur pencarian
        });
    });
</script>
<script>
    function validatePhoneNumber(input) {
        // Hapus karakter selain angka
        var phoneNumber = input.value.replace(/\D/g, '');

        // Pastikan awalan nomor telepon adalah "08"
        if (!phoneNumber.startsWith('08')) {
            input.setCustomValidity('Nomor telepon tidak valid harus diawali 08');
        } else {
            // Pastikan panjang nomor telepon antara 11 dan 13 digit
            if (phoneNumber.length < 11 || phoneNumber.length > 13) {
                input.setCustomValidity('Nomor telepon tidak valid harus terdiri dari 10-13 digit');
            } else {
                input.setCustomValidity('');
            }
        }
    }
	input.value = '0' + phoneNumber;

</script>
</body>
</html>