<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="../assets/" data-template="vertical-menu-template-free">
<head>
    <meta charset="UTF-8" />
    <object th:include="~{fragments/common :: fragment}" th:remove="tag"></object>
    <title>Detail Program | Salam Mitra</title>
</head>

<body>
    <div class="layout-wrapper layout-content-navbar layout-without-menu">
        <div class="layout-container">
            <div class="layout-page">
                <nav th:replace="~{fragments/navbar :: navbar('home')}"></nav>
                <div class="content-wrapper">
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <div class="text-center" style="padding-top: 3%; padding-bottom: 3%;">
                            <h1 class="display-3"><strong>Penghapusan Pengguna</strong></h1>
                        </div>
                        <div style="display: flex; justify-content: center;">
                            <div class="card" style="padding: 50px; width: 50rem;">
                                <div class="card-body">
                                    <h5 class="text-center" style="padding: 30px;">Apakah Anda yakin ingin menghapus pengguna: <span th:text="${pengguna.username}"></span>?</h5>
                                    <form th:action="@{/pengguna-hapus-{id}(id=${pengguna.id})}" method="post">
                                        <div style="display: flex; justify-content: center;">
                                            <a href="/pengguna" class="btn btn-secondary" style="margin-right: 10px;">Batal</a>
                                            <button type="submit" class="btn btn-danger" style="margin-left: 10px;">Hapus</button>  
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>