<!DOCTYPE html>
<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
	<head>
		<meta charset="UTF-8" />
		<object
		th:include="~{fragments/common :: fragment}"
		th:remove="tag"
		></object>
		<title>Landing Page | Salam Mitra</title>
	</head>

	<body>
		<nav th:replace="~{fragments/navbar :: navbar('home')}"></nav>
		<!-- home page slider -->
		<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active"></button>
				<button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1"></button>
				<button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img class="d-block w-100 h-100" src="../assets/img/illustrations/volunteer1.jpg" alt="First slide" />
					<div class="carousel-caption">
						<h1>Jadilah Mitra Kami!</h1>
						<p>Berkolaborasi Untuk Kebaikan</p>
					</div>
				</div>
				<div class="carousel-item">
					<img class="d-block w-100 h-100" src="../assets/img/illustrations/volunteer2.jpg" alt="Second slide" />
					<div class="carousel-caption">
						<h1>Jadi Volunteer Sekarang!</h1>
						<p>Saling Membantu, Saling Berkolaborasi</p>
					</div>
				</div>
				<div class="carousel-item">
					<img class="d-block w-100 h-100" src="../assets/img/illustrations/volunteer3.jpg" alt="Third slide" />
					<div class="carousel-caption">
						<h1>Mari Bergabung Membantu Sesama</h1>
						<p>Berkontribusi Hari Ini!</p>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExample" role="button" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExample" role="button" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</a>
		</div>
		
	<!-- home page slider -->
	<!-- <div class="homepage-slider"> -->
		<!-- single home slider -->
		<!-- <div class="single-homepage-slider homepage-bg-1">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-7 offset-lg-1 offset-xl-0">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Berkolaborasi Untuk Kebaikan</p>
								<h1>Jadilah Mitra Kami!</h1>
								<div class="hero-btns">
									<div th:if="${role == 'ROLE_ANONYMOUS'}">
										<a th:href="@{/login}" class="bordered-btn">Login</a>
									</div>
									<div th:if="${role == 'mitra'}">
										<a th:href="@{/tambah-pengajuan}" class="boxed-btn">Ajukan Kerja Sama</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- single home slider -->
		<!-- <div class="single-homepage-slider homepage-bg-2">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 text-center">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Saling Membantu, Saling Berkolaborasi</p>
								<h1>Jadi Volunteer Sekarang!</h1>
								<div class="hero-btns">
									<div th:if="${role == 'ROLE_ANONYMOUS'}">
										<a th:href="@{/login}" class="bordered-btn">Login</a>
									</div>
									<div th:if="${role == 'mitra'}">
										<a th:href="@{/tambah-pengajuan}" class="boxed-btn">Ajukan Kerja Sama</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- single home slider -->
		<!-- <div class="single-homepage-slider homepage-bg-3">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 text-right">
						<div class="hero-text">
							<div class="hero-text-tablecell">
								<p class="subtitle">Berkontribusi Hari Ini!</p>
								<h1>Mari Bergabung Membantu Sesama</h1>
								<div class="hero-btns">
									<div th:if="${role == 'ROLE_ANONYMOUS'}">
										<a th:href="@{/login}" class="bordered-btn">Login</a>
									</div>
									<div th:if="${role == 'mitra'}">
										<a th:href="@{/tambah-pengajuan}" class="boxed-btn">Ajukan Kerja Sama</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<!-- end home page slider -->

	<!-- daftar program -->
	<!-- <div class="latest-news pt-150 pb-150">
		<div class="container">

			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Program</span> Kami</h3>
					</div>
				</div>
			</div>

			<div>
				<th:block th:if="${listProgram.isEmpty()}">
                	<p class="text-center" style="display: flex; flex-direction: column; justify-content: center;">Mohon maaf, saat ini tidak ada program yang tersedia.</p>
            	</th:block>
				<div class="card-container"> -->
					<!-- Iterasi Program -->
					<!-- <div th:each="program : ${listProgram}" th:limit="3" class="card">
							<div class="card-inner"> -->
								<!-- Bagian depan dan belakang kartu -->
								<!-- <div class="card-front">
									<img th:if="${program.fotoProgram != null}" th:src="'data:image/jpeg;base64,' + ${program.imageBase64}" alt="Program Image">
									<img th:if="${program.fotoProgram == null}" src="/assets/img/placeholder-program.png" alt="Placeholder" class="img-fluid">
									<div class="overlay">
										<h4 th:text="${program.judul}"></h4>
										<h6 class="category" th:text="${program.kategoriProgram}"></h6>
										<p class="description" th:text="${program.deskripsi}"></p>
									</div>
								</div>
								<div class="card-back">
									<a th:href="'/program-' + ${program.id}" class="overlay-button">Lihat Detail Program</a> -->
									<!-- Tautan untuk menghapus program -->
									<!-- <th:block th:if="${role == 'admin_PROGRAM'}">
										<a th:href="'/hapus-program-' + ${program.id}" class="overlay-button-delete">
											<i class="bi bi-trash"></i>
										</a>
							
										<a th:href="'/edit-program-' + ${program.id}" class="overlay-button-edit">Edit Program</a>
									</th:block>
								</div>
							</div>
					</div>
				</div>
			</div>
			<th:block th:if="${not listProgram.isEmpty()}">
				<div class="row">
					<div class="col-lg-12 text-center">
						<a href="/program" class="boxed-btn">Lihat Semua Program</a>
					</div>
				</div>
			</th:block>
		</div>
	</div> -->
	<!-- end daftar program -->

	<!-- footer -->
	<!-- <div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Made with ❤️ by Propensist 2023/2024<br>
					</p>
				</div>

				</div>
			</div>
		</div>
	</div> -->
	<!-- end footer -->
	
	<!-- copyright -->
	<!-- <div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>,  All Rights Reserved.<br>
						Distributed By - <a href="https://themewagon.com/">Themewagon</a>
					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<!-- end copyright -->
	</body>
</html>
