<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <object th:include="~{fragments/common :: fragment}" th:remove="tag"></object>
    <title>Daftar Pengajuan Kerja Sama</title>
    <link href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/datatables.css">
</head>
<body>
<div th:replace="~{fragments/navbar :: header}"></div>
<div class="container">
    <div class="container-fluid" style="padding-bottom: 5%; padding-top: 15%; display: flex; align-items: center; justify-content: center;">
        <div class="container" data-aos="fade-up">
            <div class="row d-flex justify-content-center">
                <div class="col-md-7">
                    <h3 class="text-center m-4">Daftar Pengajuan Kerja Sama</h3>
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- Kosongkan kolom ini untuk memberikan ruang kosong -->
                        </div>
                        <div class="col-sm-6 text-right">
                            <a type="button" class="btn btn-primary btn-auto-width" href="/pengajuan/tambah">+ Buat Pengajuan</a>
                        </div>
                    </div>
                    <table class="table table-bordered" id="dataTable">
                        <thead class="bg-dark text-white text-center">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nama Mitra</th>
                            <th scope="col">Nama Program</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody class="text-center" th:if="${listPengajuan.isEmpty()}">
                            <tr>
                                <td colspan="4">Belum ada daftar pengajuan yang dibuat.</td>
                            </tr>
                        </tbody>
                        <tbody class="text-center" th:unless="${listPengajuan.isEmpty()}">
                            <tr th:each="pengajuan, iterationStatus: ${listPengajuan}">
                                <td th:text="${pengajuan.id}"></td>
                                <td th:text="${pengajuan.namaMitra}"></td>
                                <td th:text="${pengajuan.namaProgram}"></td>
                                <td>
                                    <a type="button" class="btn btn-secondary" th:href="@{/}">Hapus</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sertakan referensi ke jQuery di sini -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- Sertakan referensi ke DataTables JavaScript di sini -->
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
<!-- Inisialisasi DataTables dengan konfigurasi tertentu -->
<script>
    $(document).ready(function() {
        $('#dataTable').DataTable({
            "ordering": false, // Menonaktifkan sorting
            "searching": false // Menonaktifkan fitur pencarian
        });
    });
</script>
<script>
    // Menampilkan pesan sukses
    document.getElementById("successMessage").style.display = "block";
    // Mengatur waktu tampilan pesan sebelum menghilang
    setTimeout(function() {
        document.getElementById("successMessage").style.display = "none";
    }, 3000); // 3000 milliseconds = 3 seconds
</script>

<!-- jquery -->
<script src="assets/js/jquery-1.11.3.min.js"></script>
<!-- bootstrap -->
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<!-- count down -->
<script src="assets/js/jquery.countdown.js"></script>
<!-- isotope -->
<script src="assets/js/jquery.isotope-3.0.6.min.js"></script>
<!-- waypoints -->
<script src="assets/js/waypoints.js"></script>
<!-- owl carousel -->
<script src="assets/js/owl.carousel.min.js"></script>
<!-- magnific popup -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<!-- mean menu -->
<script src="assets/js/jquery.meanmenu.min.js"></script>
<!-- sticker js -->
<script src="assets/js/sticker.js"></script>
<!-- main js -->
<script src="assets/js/main.js"></script>

</body>
</html>