<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <object th:insert="~{fragments/common :: fragment}" th:remove="tag"></object>
    <object th:insert="~{fragments/common :: fragment}" th:remove="tag"></object>
    <title>Daftar Pengguna</title>
    <link href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/datatables.css">
</head>
<body>
<!-- <nav th:replace="~{fragments/navbar :: navbar('permintaan-pengiriman')}"></nav> -->
<div class="container margin-top">
    <h2 class="text-center m-4">Daftar Pengguna</h2>
    <div class="row">
        <div class="col-sm-6">
            <!-- Kosongkan kolom ini untuk memberikan ruang kosong -->
        </div>
        <div class="col-sm-6 text-right">
            <a type="button" class="btn btn-primary" href="/pengguna/tambah-admin">+ Tambah Admin</a>
        </div>
    </div>
    <table class="table table-bordered" id="dataTable">
        <thead class="bg-dark text-white text-center">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody class="text-center">
        <tr th:each="pengguna, iterationStatus: ${listPengguna}">
            <td th:text="${iterationStatus.index + 1}"></td>
            <td th:text="${pengguna.username}"></td>
            <td th:text="${pengguna.email}"></td>
            <td>
                <span th:if="${pengguna.getRole() == 'admin' and #strings.equalsIgnoreCase(pengguna.adminRole, 'PROGRAM')}">Admin Program</span>
                <span th:if="${pengguna.getRole() == 'admin' and #strings.equalsIgnoreCase(pengguna.adminRole, 'FINANCE')}">Admin Finance</span>
                <span th:if="${pengguna.getRole() == 'mitra'}">Mitra</span>
                <span th:if="${pengguna.getRole() == 'program_service'}">Program Service</span>
                <span th:if="${pengguna.getRole() == 'manajemen'}">Manajemen</span>
            </td>
            <td>
                <a type="button" class="btn btn-secondary" th:href="@{/}">Hapus</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Sertakan referensi ke jQuery di sini -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<!-- Sertakan referensi ke DataTables JavaScript di sini -->
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>

<!-- Inisialisasi DataTables dengan konfigurasi tertentu -->
<script>
    $(document).ready(function() {
        $('#dataTable').DataTable({
            "ordering": false, // Menonaktifkan sorting
            "searching": false // Menonaktifkan fitur pencarian
        });
    });
</script>

<script>
    // Menampilkan pesan sukses
    document.getElementById("successMessage").style.display = "block";

    // Mengatur waktu tampilan pesan sebelum menghilang
    setTimeout(function() {
        document.getElementById("successMessage").style.display = "none";
    }, 3000); // 3000 milliseconds = 3 seconds
</script>

</body>
</html>
