<!DOCTYPE html>
<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Daftar Program | Salam Mitra</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="../assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../assets/js/config.js"></script>
  </head>
  <style>
    .card-img-top {
        width: 100%;
        height: 300px; /* Adjust the height as per your requirement */
        object-fit: cover; /* Ensures the image covers the entire space allocated */
    }
  </style>

<body>
    <!-- <div th:replace="~{fragments/navbar :: header(page='program')}"></div> -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Primary</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-ex-7">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-ex-7">
    <div class="navbar-nav me-auto">
        <a class="nav-item nav-link active" href="javascript:void(0)">Home</a>
        <a class="nav-item nav-link" href="javascript:void(0)">About</a>
        <a class="nav-item nav-link" href="javascript:void(0)">Contact</a>
        <a class="nav-item nav-link disabled" href="javascript:void(0)">Disabled</a>
    </div>
    <ul class="navbar-nav ms-lg-auto">
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)"><i class="tf-icons navbar-icon bx bx-user"></i> Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)"><i class="tf-icons navbar-icon bx bx-cog"></i> Settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)"><i class="tf-icons navbar-icon bx bx-lock-open-alt"></i> Logout</a>
        </li>
    </ul>
    </div>
    </div>
    </nav>    
    <div class="container-fluid" style="padding-bottom: 5%; padding-top: 5%;">
        <div class="text-center">
            <h1 class="display-3"><strong>Daftar Program</strong></h1>
            
            <th:block th:if="${role == 'admin_PROGRAM'}">
                <a type="button" class="btn rounded-pill me-2 btn-info" href="/tambah-program">+ Tambah Program</a>
            </th:block>

            <div style="flex-wrap: wrap; margin: 0 auto; max-width: 1300px; margin-bottom: 50px;">
                <div style="display: flex; align-items: center; justify-content: space-between; margin-right: 20px; margin-left: 20px; margin-top: 80px;">
                    <div>
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#filterModal">
                            Filter Program
                        </button>
                        <button class="btn btn-outline-primary" id="sortButton" onclick="toggleSort()" style="margin-left: 5px;"><i id="sortIcon" class="bx bx-sort-a-z"></i> Judul</button>
                        
                    </div>
                    <div style="display: inline-block; width: 65%;">
                        <input type="text" id="searchInput" name="query" placeholder="Cari berdasarkan judul atau kategori program..." class="form-control">
                    </div>
                    <div>
                        <a class="btn btn-outline-primary" href="/program">Reset Filter</a>
                    </div>                         
                </div>
            </div>
            
            <th:block th:if="${listProgram.isEmpty()}">
                <p style="display: flex; flex-direction: column; justify-content: center; height: 50vh;">Mohon maaf, tidak ada program yang tersedia.</p>
            </th:block>

        </div>    

        <div class="row row row-cols-1 row-cols-md-3 g-4" style="margin-left: 30px; margin-right: 30px;">
            <!-- Iterate over programs -->
            <div th:each="program : ${listProgram}">
                <div class="col">
                    <div class="card h-100">
                        <img class="card-img-top" th:if="${program.fotoProgram != null}" th:src="'data:image/jpeg;base64,' + ${program.imageBase64}" alt="Program Image">
                        <img class="card-img-top" th:if="${program.fotoProgram == null}" src="/assets/img/illustrations/placeholder-program.png" alt="Placeholder">
                        <div class="card-header text-info category" th:text="${program.kategoriProgram}"></div>
                        <div class="card-body">
                            <h5 class="card-title program-title" th:text="${program.judul}"></h5>
                            <p class="card-text" th:text="${program.deskripsi}"></p>
                            
                            <div class="d-flex justify-content-between">
                                <span>
                                    <a th:href="'/program-' + ${program.id}" class="card-link">Lihat detail</a>
                                </span>
                                <span th:if="${role == 'admin_PROGRAM'}">
                                    <a th:href="'/edit-program-' + ${program.id}" class="btn btn-primary">Edit Program</a>
                                </span>
                            </div>                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form action="/filter-program" method="GET">
        <div class="modal fade" id="filterModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Filter Program</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col mb-3">
                        <label for="kategoriProgram" class="form-label">Kategori Program</label>
                        <select class="form-select" id="kategoriProgram" name="kategoriProgram">
                            <option value="">Pilih kategori program</option>
                            <th:block th:each="kategoriProgram : ${daftarKategoriProgram}">
                                <option th:value="${kategoriProgram}" th:text="${kategoriProgram}"></option>
                            </th:block>
                        </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                        <label for="kategoriProgram" class="form-label">Kategori Program</label>
                        <select class="form-select" id="kategoriAsnaf" name="kategoriAsnaf">
                            <option value="">Pilih kategori asnaf</option>
                            <th:block th:each="kategoriAsnaf : ${daftarKategoriAsnaf}">
                                <option th:value="${kategoriAsnaf}" th:text="${kategoriAsnaf}"></option>
                            </th:block>
                        </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                        <label for="kategoriProgram" class="form-label">Provinsi</label>
                        <select class="form-select" id="provinsi" name="provinsi">
                            <option value="">Pilih provinsi</option>
                            <th:block th:each="provinsi : ${daftarProvinsi}">
                                <option th:value="${provinsi}" th:text="${provinsi}"></option>
                            </th:block>
                        </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Filter</button>
                </div>
            </div>
            </div>
        </div>
    <form>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Function to open the filter pop-up
        function openFilterPopup() {
            $('#filterPopup').show();
        }

        // Function to close the filter pop-up
        function closeFilterPopup() {
            $('#filterPopup').hide();
        }

        // Function to toggle sorting button and icon
        function toggleSort() {
            var sortButton = $('#sortButton');
            var sortIcon = $('#sortIcon');
            if (sortIcon.hasClass('bx bx-sort-a-z')) {
                sortIcon.removeClass('bx bx-sort-a-z');
                sortIcon.addClass('bx bx-sort-a-zbx-sort-a-z');
                sortButton.html('<i id="sortIcon" class="bx bx-sort-z-a"></i> Judul');
                sortPrograms('asc');
            } else {
                sortIcon.removeClass('bx bx-sort-z-a');
                sortIcon.addClass('bx bx-sort-a-z');
                sortButton.html('<i id="sortIcon" class="bx bx-sort-a-z"></i> Judul');
                sortPrograms('desc');
            }
        }

        // Function to open the filter pop-up
        function openFilterPopup() {
            $('#filterPopup').show();
        }

        // Function to close the filter pop-up
        function closeFilterPopup() {
            $('#filterPopup').hide();
        }

        // Function to toggle sorting button and icon
        function toggleSort() {
            var sortButton = $('#sortButton');
            var sortIcon = $('#sortIcon');
            if (sortIcon.hasClass('bx bx-sort-a-z')) {
                sortIcon.removeClass('bx bx-sort-a-z');
                sortIcon.addClass('bx bx-sort-a-z');
                sortButton.html('<i id="sortIcon" class="bx bx-sort-z-a"></i> Judul');
                sortPrograms('asc');
            } else {
                sortIcon.removeClass('bx bx-sort-z-a');
                sortIcon.addClass('bx bx-sort-a-z');
                sortButton.html('<i id="sortIcon" class="bx bx-sort-a-z"></i> Judul');
                sortPrograms('desc');
            }
        }
    </script>

    <script>
        $(document).ready(function() {
            // Attach input event listener to the search input field
            $('#searchInput').on('input', function() {
                var query = $(this).val().toLowerCase(); // Get the search query
                // Filter programs based on title and program category
                $('.card').each(function() {
                    var title = $(this).find('.program-title').text().toLowerCase();
                    var category = $(this).find('.category').text().toLowerCase();
                    if (title.includes(query) || category.includes(query)) {
                        $(this).show(); // Show card if it matches the query
                    } else {
                        $(this).hide(); // Hide card if it doesn't match the query
                    }
                });
            });
        });
        
        $(document).ready(function() {
            // Attach input event listener to the search input field
            $('#searchInput').on('input', function() {
                var query = $(this).val().toLowerCase(); // Get the search query
                // Filter programs based on title and program category
                $('.card').each(function() {
                    var title = $(this).find('.program-title').text().toLowerCase();
                    var category = $(this).find('.category').text().toLowerCase();
                    if (title.includes(query) || category.includes(query)) {
                        $(this).show(); // Show card if it matches the query
                    } else {
                        $(this).hide(); // Hide card if it doesn't match the query
                    }
                });
            });
        });
    </script>

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>

    <!-- Page JS -->

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>